###  Installation of Packages

In [2]:
pip install pandas
pip install numpy
pip install seaborn
pip install matplotlib
pip install sklearn

Collecting pandas
  Downloading pandas-1.2.0-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\daniel\anaconda3\envs\cpp\lib\site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.19.5-cp39-cp39-win_amd64.whl (13.3 MB)
Requirement already satisfied: six>=1.5 in c:\users\daniel\anaconda3\envs\cpp\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.3
  Using cached pytz-2020.5-py2.py3-none-any.whl (510 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.5 pandas-1.2.0 pytz-2020.5
Note: you may need to restart the kernel to use updated packages.

### Import the Packages

In [9]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.neighbors  import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import pickle

### Import Dataset

In [12]:
df=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

### Data Audit

In [13]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [15]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [16]:
df.isnull().any()

Car_Name         False
Year             False
Selling_Price    False
Present_Price    False
Kms_Driven       False
Fuel_Type        False
Seller_Type      False
Transmission     False
Owner            False
dtype: bool

### Feature Engineering

In [17]:
df['Years_Old']=pd.datetime.now().year-df['Year']

<ipython-input-17-9fd3708329c1>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['Years_Old']=pd.datetime.now().year-df['Year']

In [18]:
df.drop(['Year'],axis=1,inplace=True)

In [20]:
df=pd.get_dummies(data=df,columns=['Fuel_Type','Seller_Type','Transmission'],drop_first=True)

In [21]:
df.drop(['Car_Name'],axis=1,inplace=True)

In [22]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Years_Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,7,0,1,0,1
1,4.75,9.54,43000,0,8,1,0,0,1
2,7.25,9.85,6900,0,4,0,1,0,1
3,2.85,4.15,5200,0,10,0,1,0,1
4,4.60,6.87,42450,0,7,1,0,0,1

### X and Y Variable Creation

In [23]:
Y=df.iloc[:,0]
X=df.iloc[:,1:]

In [24]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=123)

### Pipeline Creation

In [25]:
from sklearn.pipeline import Pipeline

In [26]:
pipe = Pipeline([('scaler', StandardScaler()), ('rf',RandomForestRegressor(n_estimators=100,max_depth=25,max_features='auto'))])
pipe.fit(x_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('rf', RandomForestRegressor(max_depth=25))])

In [27]:
input= [[5.59,27000,0,7,0,1,0,1]]

In [28]:
pipe.predict(input)

array([3.675])

In [31]:
model_rf=RandomForestRegressor(n_estimators=100,max_depth=25,max_features='auto')

In [32]:
model_rf.fit(x_train,y_train)

RandomForestRegressor(max_depth=25)

### Pickle the Model

In [29]:
file = open('cpp_model.pkl','wb')

In [30]:
pickle.dump(pipe,file)

In [34]:
file =open('model_rf.pkl','wb')

In [35]:
pickle.dump(model_rf,file)

In [36]:
with open ('model_pickle','wb') as f:
    pickle.dump(pipe,f)

In [37]:
with open ('model_pickle','rb') as f:
    mp = pickle.load(f)

In [38]:
mp.predict(input)

array([3.675])